
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->





<!-- Button trigger modal -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">GitBot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pull-right" id="navbarNavDropdown">
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/repoList">Repo-List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/deleteRepo">DeleteRepo</a>

        </li>
        <li class="nav-item ">
          <a class="nav-link" href="http://localhost:4200/repoCreation">CreateRepo</a>

        </li>
        <li class="nav-item ">
          <a class="nav-link" href="http://localhost:4200/repoCreation">Favourites</a>

        </li>
      </ul>
    </div>
  </nav>

  <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Sorry Mate!</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Train me more !</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
      </div>
    </ng-template>

  <div class="container"  >
    <br>
    <br>
    <br>
    
      <h1 class="display-8 centering " > Hello !! What can i do for you?</h1>

    <div class="input-group mb-3 container">


      <input #id type="text" class="form-control" placeholder="What's Your intent"
        aria-label="Example text with button addon" aria-describedby="button-addon1">
      <div class="input-group-prepend">
        <button (click)="queryIntent(id.value,content)" class="btn btn-outline-secondary" type="button"
          id="button-addon1">Order !</button>
      </div>
    </div>




   



  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!-- 6fa57eec4be93cce96e3ea573c4a9754cb70e651  -->
  <router-outlet></router-outlet>
